.badge{
    display: 'inline-block'
}

header{
    display: flex;
}

/*.header_title{
    border: 1px solid red;
}*/

.flag{
    text-align: right;
    padding-right: 10px;
    vertical-align: middle;
}

.map_and_filters{
    border: 1px solid yellow;
    display: flex;
}

.filters{
    border: 1px solid yellowgreen;
    display: inline-block;
}

.map{
    margin: 0px;
}

.badge{
    border: 1px solid red;
    vertical-align: middle;
}
