body{
    /*border: 3px solid red;*/
    max-width: 1336px;
    min-width: 1080px;
    margin: auto;
}

header {
    display: flex;
    background-color:cadetblue;
    /*border: 3px solid green;*/
}

.header_title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px 0px 20px;
    /*border: 1px solid palevioletred;*/
}

/*.header_div{
    border: 1px solid palevioletred;
}*/

.header_flag {
    text-align: right;
    padding-right: 10px;
    vertical-align: middle;
}

.map_and_filters {
    /*border: 1px solid yellow;*/
    display: flex;
}

.filters {
    width: 40%;
    /*border: 3px solid blue;*/
    display: inline-block;
}

.brazil_map {
    width: 60%;
    /*border: 3px solid yellow;*/
    margin: 0px;
    /*width: 60%;*/
}

.badge{
    /*border: 1px solid red;*/
    vertical-align: middle;
}

.card_icons{
    width: 50%;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}

.slider_control{
    padding: 0px 20px 0px 20px;
}