body {
    /*border: 3px solid red;*/
    max-width: 1336px;
    min-width: 1080px;
    margin: auto;
}

header {
    display: flex;
    background-color:cadetblue;
    /*border: 3px solid green;*/
}

.header-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px 0px 20px;
    /*border: 1px solid palevioletred;*/
}

/*.header_div{
    border: 1px solid palevioletred;
}*/

.map-and-filters {
    /*border: 1px solid yellow;*/
    display: flex;
}

.filters {
    width: 40%;
    /*border: 3px solid blue;*/
    display: inline-block;
}

.brazil-map {
    width: 60%;
    /*border: 3px solid yellow;*/
    margin: 0px;
    /*width: 60%;*/
}

.badge {
    border: 1px solid red;
    vertical-align: middle;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}

.slider_control{
    padding: 0px 20px 0px 20px;
}

.cards-row{
    padding: 20px;
    /*border: 3px solid red;*/
}

.filters-div{
    /*border: 3px solid red;*/
    display: inline-block; 
    padding: 20px;
}